HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
 
### binary files (*.class, *.jar, *.DS_Store ...) ###
*.class
*.jar
*.war
*.DS_Store

### GIT ###
api-tests.yml
checkstyle.xml
mvn
.DS_Store
.db
.log
out/
target/
